
.carousel .control-prev.control-arrow:before {
  color: rgb(41, 39, 39); /* Left arrow */
}

.carousel .control-next.control-arrow:before {
  color: rgb(41, 39, 39) /* Right arrow */
}

.carousel .control-prev.control-arrow::after {
  color: rgb(0, 0, 0); /* Left arrow */
}

.carousel .control-next.control-arrow::after {
  color: rgb(0, 0, 0) /* Right arrow */
}